.container {
  width: 100%;
  height: 80rpx;
  padding: 15rpx 40rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  .title {
    padding: 0 40rpx;
    position: relative;
    line-height: 50rpx;
    font-size: 50rpx;
    color: #999;
  }
  .pre, .nex {
    flex: 1;
    border-bottom: 2px solid rgb(202, 200, 200);
  }
}